@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
#todo {
  background: hsla(348, 88%, 66%, 1);
  background: linear-gradient(
    135deg,
    hsla(348, 88%, 66%, 1) 0%,
    hsla(36, 89%, 68%, 1) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    hsla(348, 88%, 66%, 1) 0%,
    hsla(36, 89%, 68%, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    hsla(348, 88%, 66%, 1) 0%,
    hsla(36, 89%, 68%, 1) 100%
  );
  padding: 100px 0;
  height: 100vh;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background-image: url("img/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url("img/checked.png");
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 22px !important;
  border-radius: 50px !important;
  padding: 0px 10px !important;
}
